{% extends 'super/admin_home.html' %}

{% block data %}

<div>
    <h2>Edit Election</h2>
    <div>
        <h3>Election Details</h3>
        <form action="" method="POST" enctype="multipart/form-data" class="form-base">
            {% csrf_token %}
            {{form.as_p}}

            <div>
                <hr>
                <h3>Manage candidates</h3>
                {%include 'super/manage_candidates.html' with candidates=candidates election=election%}
            </div>

            <div style="min-height: 30px;"></div>
            <div>
                <span>
                    <input type="submit" value="Save" class="btn btn-fill">
                </span>
                <span>
                    <button type="button" onclick="javascript:history.go(-1);" class="btn btn-border">Back</button>
                </span>
            </div>
        </form>
    </div>
    <hr>

</div>

{% endblock data %}