{% extends 'super/admin_home.html' %}

{% block data %}
<div>
    <h1>{{blockchain.0.election.name}}</h1>
    <hr>
    {%for block in blockchain%}
    {% if block.lh != 'GENESIS'%}
    <div class="block">
        <div>
            <p><strong>Candidate :</strong> {{block.candidate.name}} </p>
            <p><strong> Party : </strong>{{block.candidate.party.name}}</p>


        </div>
        <div>
            <p> <strong>Last Hash :</strong> {{block.lh}}</p>
            <p><strong>Hash :</strong> {{block.h}}</p>
        </div>

    </div>
    <hr>
    {%endif%}
    {%endfor%}

</div>

{% endblock data %}